.modal{
    font-family:  'Barlow', sans-serif;
}
.modal-header, .modal-footer{
    background-color: #edebeb;
    color: #876445
}
.form-label{
    color:#876445
}
.mensajeFinal{
    color: #000;
}
.close_button{
    text-align: end;
    color: #BECACD;
    cursor: pointer;
}